*{
    box-sizing: border-box;
}

body{
    background-image: url('/src/Assets/bg.jpg');
    background-position: top;
    opacity: 0.9;
}

.container{
    background-image: linear-gradient(180deg, #12355b 0%, #0c2a4a 100%);
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}

.top-bar input{
    border: none;
    border-radius: 25px;
    outline: none;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    color: #0c2a4a;
    font-size: 14px;
}

.top-bar .search-icon{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.weather-image{
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 20px;
}

.temp-display{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.location-display{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.d-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: white;
}

.d-element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 13px;
}

.data{
    font-size: 25px;
    font-weight: 700;
}

.text{
    font-size: 14px;
    font-weight: 400;
}

.d-element .icon{
    margin-top: 10px;
    height: 40px;
}

